{% block content %}
<h1>Update</h1>
<form name="get_details" action="" method="POST">


    {{ form.csrf_token }}

    {{ form.hidden_tag() }}
    <p>
        {{form.pat_ssn_id.label}}
        {{form.pat_ssn_id(size=10,value=details["ssn"])}}    
    </p>
    
    <p>
        {{form.pat_name.label}}
        {{form.pat_name(size=20,value=details["name"])}}
    </p>
        <p>
        {{form.pat_age.label}}
        {{form.pat_age(value=details["age"])}}
    </p>
        
    <p>
        {{form.date_of_amdn.label}}
        {{form.date_of_amdn(size=20,value=details["date"])}}
    </p>
    <p>
        {{form.bed_type.label}}
        {{form.bed_type}}
    </p>
    <p>
        {{form.address.label}}
        {{form.address(size=20,value=details["add"])}}
    </p>
    <p>
        {{form.state.label}}
        {{form.state}}
    
    </p>
    
    <p>
        {{form.city.label}}
        {{form.city}}
    
    </p>
    {{form.submit}}
    </form>

</form>


{% endblock%}